
.bar1, .bar2, .bar3{
	background-color: green;
	width: 35px;
	height: 4px;
	margin: 5px 0px;
	display: block;
	transition: 0.45s;
}
#menu {
	float: right;
	display: block;
}
.menu:hover {
	cursor: pointer;
}
.change .bar2 {
	opacity: 0;
}
.change .bar1 {
	opacity: 0;
}
.change .bar3 {
	opacity:0;
}
a:hover {
	cursor: pointer;
	color: black;
	background-color: green;
	transition: 1s;
}
.options a {
	display: block;
	font-size: 25px;
	text-decoration: none;
}
.options {
	  height: 100%;
	  width: 0;
	  position: fixed;
	  right: 0;
	  background-color: rgba(13, 2, 8, 0.01);
	  overflow-x: hidden;
	  transition: 0.5s;
	  padding-top: -30px;
}
h1:hover {
	transition: width 3s;
	width: 100%;
}