.bar1, .bar2, .bar3{
	background-color: green;
	width: 35px;
	height: 4px;
	margin: 5px 0px;
	display: block;
	transition: 0.45s;
}
#menu {
	float: right;
	display: block;
}
.menu:hover {
	cursor: pointer;
}
.change .bar2 {
	opacity: 0;
}
.change .bar1 {
	transform: translate(0px,12px) rotate(45deg);
}
.change .bar3 {
	transform: translate(0px, -6px) rotate(-45deg);
}
a {
	text-decoration: none;
	color: green;
	font-size: 50%;
	display: none;
}
a:hover {
	
	cursor: pointer;
	animation-name: changeOptions;
	animation-duration: 1.1s;
}
@Keyframes changeOptions {
	from {background-color: black; color: green;}
	to {background-color: green; color: black;}
}
.options a {
	display: block;
}
.options {
	width:0;
	height: 100%;
	right:0;
	top:0;
}
h1:hover {
	transition: width 3s;
	width: 100%;
}